body{
      
    /* background: linear-gradient(to right, rgb(187, 182, 182), lightblue, blue);  
    
    background: rgba(0, 0, 255, 0.5); Azul semitransparente 

    background: conic-gradient(rgb(68, 68, 70), rgb(228, 226, 146)); */


    background: linear-gradient(transparent), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK45nqtVM_WrZ-AZ8TY9JM9E9qRY0fFi4FZ7aTY9rpadi8bylDzQi51kto_9Zvt64RNoo&usqp=CAU") ;

     
    border-radius: 50px;

}

h1{ 

    color: blue;
    font-size: 80px;
    font-family:cursive;
    padding: 0px 0px 20px 550px;
    
}



h2{ 
    color: blue;
    font-size: 40px;
    font-family:cursive;
    padding: 0px 0px 0px 50px;
}

h2:hover{
    color: white;
    background-color: black;
}



form{

    background-color: transparent;
    padding-right: 80px;
    padding-left: 80px;
    max-width: 400px;
    margin:auto;     
    border-radius: 30px;
    box-shadow: 5px 90px 90px 50px #fff2;
    margin-top: 50px;

}  


input{

    min-width: 100%;
    box-sizing: border-box;
    padding: 6  px 12px 0px 0px;
    margin: 0px 0px 20px;
    border: none;
    border: 1px solid black;
    box-shadow: 0px 0px 15px #0003;
    background-color: transparent;
    border-radius: 5px;
    color: black
}

label{
    font-size: 20px;
    line-height: 5px;
    margin:0px 0px 20px ;
}

label:hover{
    color: aqua;
    background-color: rgb(217, 245, 75)  ;
}




.enviar{
    list-style-type: none ;
}

.enviar{
    padding-left: 113px;
    margin:0px 0px 20px ;

    }


.invitado{
    list-style-type: none ;
}

.invitado{
    padding-left: 100px;
    margin: 4px;


    }


a{
    color: rgb(86, 5, 249);
    text-decoration: none;
    

}